# Log files
*.log
*.csv

# Compiled python objects
*.py[co]

# User-specific project settings
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/encodings.xml
.idea/misc.xml

# build outputs
build/
dist/
*egg-info/
